<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="\new" method="POST">
      <label>Nome Empresa:</label>
      <input type="text" name="nome"/>
      <label>Número:</label>
      <input type="number" name="numero">
      <input type="submit" value="Enviar">
    </form>
  </body>
</html>
